@import "lib/_value.scss";
@import "lib/_mixin.scss";

a {
  color: $blue;
  text-decoration: underline;
  &:hover {
    color: $orange;
  }
}
a.reset {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#contest__child {
  text-align: center;    
  .contest__child { 
    &__title__background {
      @include section--title--background;
      background-image: url("../../img/heading_contest.png");      
      color: #FFF;
    }
    &__content {
      &__summary {
        margin-bottom: 50px;
      }
      &__background {
        padding: 50px 0;
        background-color: rgba(199,232,245,0.8);
        @include mediaSP {
          padding: 50px 15px;
        }
        @include mediaPC {
          padding: 50px 30px;
        }
        .btn--to-top {
          @include btn--line();
          .to-top__link {
            @include btn;
          }
        }
      }            
      &__info {
        text-align: center;
        margin: 0 auto;
        border-spacing: 0px 20px;
        @include mediaSP {
          margin: 0;
          width: 100%;
        }
        @include mediaPC {
          margin-bottom: 50px;
        }
        tr {
          @include mediaSP {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
          }
        }
        th {
          background-image: url("../../img/bg.jpg");
          width: 150px;
          color: #FFF;
          box-sizing: border-box;
          @include mediaSP {
            width: 100%;
            padding: 20px;
          }
        }
        td {
          padding: 40px 100px;
          background-color: #FFF;
          box-sizing: border-box;
          @include mediaSP {
            width: 100%;
            padding: 20px;
          }
        }
        .contest__info{
          @mixin infoTitle {
            font-weight: bold;
          }
          @mixin infoCaution {
            font-size: 13px;
          }
          &__recruit {
            &__head {
              background-position: 95% 90%;
            }
            &__title {
              @include infoTitle();
            }
            &__caution {
              @include infoCaution();
              margin-bottom: 30px;
            }
            &__join-btn {
              .btn--join-contest {
                @include btn--line();
                .join-contest__link {
                  @include btn();
                }
              }
            }
          }
          &__product {
            &__head {
              background-position: 95% 0%;
              @include mediaSP {
                background-size: 500%;
              }
            }
            &__title {
              @include infoTitle();
            }
            &__caution {
              @include infoCaution();              
            }
          }
          &__award {
            &__head {
              background-position: 30% 57%;
              background-size: 1000%;
            }
            &__list {
              list-style: none;
              padding: 0;
            }
          }
          &__sponsor {
            &__head {              
              background-size: 1000%;
            }
            img {
              width: 100%;
              height: auto;
            }
            &__title {
              border-bottom: solid 1px $font;
              padding-bottom: 10px;              
            }
            &--excellence {
              .contest__info__sponsor__title {
                margin-top: 100px;
                @include mediaSP {
                  margin-top: 50px;
                }
              }
            }
            &__list {
              display: flex;
              justify-content: space-around;
            }
            &__list__item {
              max-width: 500px;
              color: $font;
              &__name {
                @include mediaSP {
                  font-size: 10px;
                }                
              }
            }
            &__list__item--excellence {         
              max-width: 400px;              
            }
          }
        }
      }
    }
  }
}