@import "lib/_value.scss";
@import "lib/_mixin.scss";

a {
  color: $blue;
  text-decoration: underline;
  &:hover {
    color: $orange;
  }
}
a.reset {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#handson__child {
  text-align: center;    
  .handson__child { 
    &__title__background {
      @include section--title--background;
      background-image: url("../../img/heading_handson.png");      
      color: #FFF;
    }
    &__content {
      &__summary {
        margin-bottom: 50px;
      }
      &__background {
        padding: 50px 0;
        background-color: rgba(199,232,245,0.8);
        @include mediaSP {
          padding: 50px 15px;
        }
        @include mediaPC {
          padding: 50px 30px;
        }
        .handson-list {
          width: 100%;
          max-width: 800px;
          margin: 0 auto;
          margin-bottom: 50px;         
          &__item:not(:last-child) {
            margin-bottom: 50px;            
          }
          &__item {
            border-radius: 30px;
            color: #FFF;
            background-image: url("../../img/bg.jpg");
            width: 100%;
            box-sizing: border-box;
            text-align: left;
            @include mediaPC {
              padding: 40px;              
              box-sizing: border-box
            }
            @include mediaSP {
              padding: 15px;
              box-sizing: border-box
            }
            .handson {
              &__info {
                padding-bottom: 20px;
                border-bottom: dotted 2px #FFF;
                &__technology {
                  display: inline-block;
                  width: 150px;
                  height: 60px;
                  background-color: #FFF;
                  border-radius: 10px;
                  color: $font;
                  text-align: center;
                  padding: 16px 0px;
                  box-sizing: border-box;
                  margin-right: 30px;
                  @include mediaSP {
                    margin-right: 10px;
                    width: 100%;
                    height: 40px;
                    padding: 8px 0px;
                    font-size: 13px;
                  }
                }
                br {
                  @include mediaPC {
                    display: none;
                  }
                }
                &__title {
                  display: inline-block;
                  height: 60px;
                  padding: 16px 0px;
                  box-sizing: border-box;
                  font-weight: bold;
                   @include mediaSP {                    
                    font-size: 18px;
                  }             
                }
                &__summary {
                  margin-top: 30px;
                  margin-bottom: 50px;
                  font-size: 14px;
                  @include mediaSP {
                    margin-top: 20px;
                    margin-bottom: 30px;
                  }
                }
                &__target {
                  word-break: keep-all;
                  &__title {
                    font-size: 15px;
                    margin-right: 10px;
                  }
                  &__item {
                    padding: 2px 15px;
                    font-size: 12px;
                    background-color: #FFF;
                    border-radius: 5px;
                    color: $font;
                    margin-left: 10px;
                    @include mediaSP {
                      margin-left: 0px;
                      margin-right: 2px;
                      font-size: 12px;
                    }
                  }
                }
              }
              &__mentor {
                $icon_size:100px;
                padding: 20px 0;
                margin-bottom: 30px;
                flex-wrap: wrap;
                border-bottom: dotted 2px #FFF;
                &__icon {
                  float: left;
                  background-position: center;
                  background-size: contain;
                  border-radius: 100%;
                  margin-right: 20px;
                  @include mediaPC {
                    width: $icon_size;
                    height: $icon_size;                   
                  }
                  @include mediaSP {
                    width: 100px;
                    height: 100px;
                    margin-right: 4px;
                  }
                }
                &__title {
                  width: $icon_size;
                  text-align: center;
                  font-size: 14px;
                  @include mediaSP {
                    font-size: 16px;                    
                    width: 100%;
                    text-align: left;
                  }
                }
                &__name {
                  margin-bottom: 10px;
                  font-size: 20px; 
                  @include mediaPC {
                    width: calc(100% - $icon_size + 20px);
                    height: auto;      
                  }
                  @include mediaSP {
                    float: right;        
                    width: calc(100% - 104px);
                    height: 100px;
                    padding: 38px 0;
                    box-sizing: border-box;
                    margin-bottom: 10px;     
                    font-size: 15px;
                  }
                }
                &__link {                  
                  border-radius: 50%;
                  border: solid 1px #FFF;
                  background-color: rgba(255,255,255,0.8);                  
                  display: inline-block;
                  text-align: center;
                  vertical-align: text-bottom;
                  i {
                    vertical-align: text-top;
                    color: #A8A19E;
                    font-size: 22px;
                    margin-top: 1px;
                    @include mediaSP {
                      vertical-align: middle;
                      font-size: 13px;
                      margin-top: -7px;
                    }               
                  }
                  @include mediaPC {
                    width: 30px;
                    height: 30px;
                    margin-left: 10px;
                  }
                  @include mediaSP {
                    width: 20px;
                    height: 20px;
                    margin-left: 1px;
                  }                  
                }
                &__introduction {
                  font-family: "yu-gosic";
                  word-break: break-all;
                  float: right;
                  font-size: 14px;
                  @include mediaPC {
                    width: calc(100% - 120px);
                  }
                  @include mediaSP {
                    font-size: 13px;
                  }
                }
              }
              &__mentor:before, &__mentor:after{
                content: " ";
                display: table;
              }
              &__mentor:after{
                clear: both;
              }
              &__to-detail {
                text-align: center;
                &__btn {
                  @include btn--line();
                }
                &__link {
                  @include btn;
                }
              }
            }
          }
          &__item--markup {
            background-position: 95% 0;
            background-size: 500%;
            @include mediaSP {
              background-size: 1500%;
            }
          }
          &__item--designer {
            background-position: 95% 90%;
            background-size: 400%;
            @include mediaSP {
              background-size: 800%;
            }
          }
          &__item--engineer {
            background-position: 0 0;
            background-size: 300%;
            @include mediaSP {
              background-size: 500%;
            }
          }
        }
        .btn--to-top {
          @include btn--line();
          .to-top__link {
            @include btn;
          }
        }
      }            
    }
  }
}