@import "lib/_value.scss";
@import "lib/_mixin.scss";

a {
  color: $blue;
  text-decoration: underline;
  &:hover {
    color: $orange;
  }
}
a.reset {
  color: inherit;
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#hero{
  padding: 0 5px;
  @include page-bottom;
  color:$font_light;
  position: relative;

  .hero__block{
    text-align: center;

    @include mediaPC {
      margin: 2em auto 0;
      max-width: 1200px;
      position: relative;
    }
    .bg__imgA {
      width: 40vw;
      position: absolute;
      left: 3vw;
      top: 28px;


      @include mediaSP {
        width: 29vw;
        top: 10px;
        left: 8vw;
      }
      @include mediaPC {
        width: 27%;
        left: 4%;
      }
    }
    .bg__imgB {
      margin-left: -10vw;
      width: 22vw;
      position: absolute;
      left: 50%;
      top: 80px;

      @include mediaSP {
        top: 30px;
      }
      @include mediaPC {
        margin-left: 0vw;
        width: 16%;
        left: 42%;
        top: 10px;
      }
    }
    .bg__imgC {
      width: 33vw;
      position: absolute;
      right: 2vw;
      top: 50px;
      @include mediaSP {
        width: 28vw;
        top: 20px;
        right: 5vw;
      }
      @include mediaPC {
        width: 23%;
        right: 2%;
      }
    }
    .bg__imgD {
      width: 35vw;
      position: absolute;
      right: 2vw;
      top: 190px;
      @include mediaSP {
        width: 28vw;
        top: 170px;
        right: 6vw;
      }
      @include mediaPC {
        width: 27%;
        top: 260px;
        right: 5%;
      }
    }
    .bg__imgE {
      margin-left: -20vw;
      width: 30vw;
      position: absolute;
      left: 50%;
      top: 290px;
      @include mediaSP {
        margin-left: -13vw;
        width: 24vw;
        top:270px;
      }
      @include mediaPC {
        margin-left: 0;
        width: 22%;
        left: 35%;
        top: 450px;
      }

    }
    .bg__imgF {
      width: 27vw;
      position: absolute;
      left: 3vw;
      top: 200px;
      @include mediaSP {
        top: 210px;
        width: 21vw;
        left: 12vw;
      }
      @include mediaPC {
        width: 16%;
        top: 340px;
        left: 14%;
      }
    }
  }

  .hero__title-area {
    z-index: 100;
    margin: 0 auto;
    margin-top: 60px;
    display: inline-block;
    width: 100%;
    height: 270px;
    position: relative;
    background-image: url(../../img/frame@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include mediaPC {
      height: 480px;
    }

  }
  .hero__title_block {
    margin: auto;
    width: 50%;
    height: 35%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }
  .hero__title {
    display: inline-block;
    font-size: 25px;
    line-height: 1.4;
    @include mediaPC {
      font-size: 2.5em;
    }
  }
  .hero__infomation {
    margin: 1.7em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: $font_set_ja;
    white-space:nowrap;
    @include mediaPC {
      margin-top: 3em;
      font-size: 1.4em;
    }
    &__to-access {
      margin-left: 30px;
      background-color: rgba(107,107,107,0.5);
      padding: 8px 40px;
      border-radius: 30px;
      font-size: 16px;
      vertical-align: text-bottom;
      color: #FFF;
      @include mediaSP {
        margin-left: 0px;
      a {
      }
        i {
          margin-right: 4px;
        }
      }

    }
  }
  .hero__action-area {
    display: inline-block;
    width: 100%;
    .btn {
      @include btn;
    }
  }
}

#main-menu {
  .main-menu {
    list-style: none;
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    justify-content: space-around;
    margin-bottom: 100px;
    flex-wrap: wrap;
    @include mediaSP {
      width: 100%;
      justify-content: space-between;
    }
    &__item {
      border: solid 4px #FFF;
      text-align: center;
      margin: 0 10px;
      border-radius: 50px;
      transition: all 0.5s;
      @include mediaSP {
        width: 30%;
        margin: 0 0px;
        margin-bottom: 10px;
        box-sizing: border-box;
        font-size: 0.7em;
      }
      @include mediaPC {
        flex:1;
        &:hover{
          letter-spacing: 1px;
          background: rgb(242,131,104); /* Old browsers */
          background: -moz-linear-gradient(left,  rgba(242,131,104,1) 27%, rgba(87,192,237,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left,  rgba(242,131,104,1) 27%,rgba(87,192,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right,  rgba(242,131,104,1) 27%,rgba(87,192,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
      }
      .btn {
        a {
          display: block;
          padding: 10px;
          width: 100%;
          color: #FFF;
          box-sizing: border-box;
        }
      }
    }
  }
  .to-menu {
    display: none;
    text-align: center;
    position: fixed;
    top: 100px;
    right: 40px;
    border: solid 3px #FFF;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
    background: rgb(242,131,104); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(242,131,104,1) 27%, rgba(87,192,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(242,131,104,1) 27%,rgba(87,192,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(242,131,104,1) 27%,rgba(87,192,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #FFF;
    width: 70px;
    height: 70px;
    z-index: 100;
    &__link {
      position: absolute;
      top: -7px;
      left: 0;
      color: inherit;
      display: block;
      width: 100%;
      height: 100%;
    }
    &__icon {
      font-size: 54px;
    }
    &__caption {
      margin-top: -15px;
    }
    @include mediaSP {
      top: auto;
      right: 10px;
      bottom: 20px;
      width: 40px;
      height: 40px;
      &__link {
        position: absolute;
        top: 0px;
        left: 0;
        color: inherit;
        display: block;
        width: 100%;
        height: 100%;
      }
      &__icon {
        font-size: 24px;
      }
      &__caption {
        font-size: 0.5rem;
        margin-top: -9px;
      }
    }
  }
}

#concept {
  @include page-bottom;
  background: linear-gradient(to bottom,  rgba(254,225,176,0.01) 0%,rgba(255,253,240,0.58) 38%,rgba(255,255,251,0.9) 59%,rgba(255,255,255,0.9) 66%);
  .container {
    text-align: center;
    max-width: 1200px;
  }
  .concept__heading {
    color: $font_light;
    font-size: 20px;
    @include heading(white);
    @include mediaPC {
      position: relative;
    }
  }

  .concept__block {
    margin-top: 2em;
    background:url("../../img/concept_bg_sp.png") ;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include mediaPC {
      background: url("../../img/concept_bg.png") no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      min-width: 100%;
    }

  }
  .concept__text {
    p {
      margin: 2em 0;
      line-height: 2;
    }
    margin-top: 40px;
    padding-bottom: 80px;
    display: inline-block;
    max-width: 250px;
    font-family: $font_set_ja;
    .en {
      @include en;
    }
    @include mediaPC {
      max-width: 750px;
    }
  }
}
#new_session{
  .session__title__background{
    @include section--title--background;
    background-image: url("../../img/heading_session.png");
    .container{
      .session__title{
        color: $font-light;
      }
      .session__subtitle{
        color: $font-light;
      }
    }
  }
  .session__content__background{
    @include section--content--background;
    .container{
      text-align: center;
      max-width: 1200px;
      .session__lists{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .session__list{
          width: 45%;
          margin-left: 2.5%;
          margin-bottom:20px;
          border:solid 10px white;
          box-sizing: border-box;
          background-image: url("../../img/bg.jpg");
          display: flex;
          @include mediaSP {
            width: 100%;
          }
          @media (max-width:1050px) {
            width: 100%;
          }
          .session__list__img {
            display: inline-block;
            width: 104px;
            height: 104px;
            background-size: cover;
            box-sizing: border-box;
            @include mediaSP {
              height: 170px;
              background-position: 50% 0%;
              background-color: white;
            }

          }
          .session__list__text{
            display: inline-block;
            text-align: left;
            width:calc(100% - 100px);
            padding: 20px;
            box-sizing: border-box;
            color: $font_light;
          }
          &--markup {
            background-position: 95% 0;
            background-size: 400%;
          }
          &--designer {
            background-position: 95% 90%;
          }
          &--engineer {
            background-position: 0 0;
          }
        }
      }
      .btn--session{
          @include btn--line();
          .session__detaill__link{
            @include btn;
          }
        }
    }
  }
}
#handson{
  .handson__title__background{
    @include section--title--background;
    background-image: url("../../img/heading_handson.png");
    .container{
      .handson__title {
        color: $font-light;
      }
      .handson__subtitle {
        color: $font-light;
      }
    }
  }
  .handson__content__background{
    @include section--content--background;
    .container{
      text-align: center;
      max-width: 1200px;
      .handson__text{

      }
      .handson__lists{
        padding: 0;
        .handson__list{
          list-style: none;
          width:800px;
          margin:30px auto;
          border-radius: 4px;
          background-image: url("../../img/bg.jpg");
          display: flex;
          @include mediaSP {
                width: 100%;
                flex-direction: column;
          }
          .handson__list__head{
              width:300px;
              background-color:white;
              padding:10px;
              box-sizing: border-box;
              border-radius: 3px;
              @include mediaSP {
                border-radius: 3px 3px 0 0;
                width: 100%;
              }
          }
          .handson__list__body{
              width:500px;
              padding:10px;
              color: $font-light;
              box-sizing: border-box;
              @include mediaSP {
                width: 100%;
              }
          }
        }
        $max:4;
        @for $i from 1 through $max {
          .handson__list:nth-child(#{$max}n + #{$i} ) {
            background-position: #{$i * 100/$max + "%"} #{$i * 100/$max + "%"};
          }
        }
      }
      .btn--handson{
          @include btn--line();
          .handson__detaill__link{
            @include btn;
          }
        }
    }
  }
}
#discussion{
  .discussion__title__background{
    @include section--title--background;
    background-image: url("../../img/heading_discussion.png");
    .container {
      .discussion__title {
        color: $font-light;
      }
      .discussion__subtitle {
        color: $font-light;
      }
    }
  }
  .discussion__content__background{
    @include section--content--background;
      .container {
        text-align: center;
        max-width: 1200px;
        .discussion__lists{
          color:$font-light;
          margin-bottom:50px;
          padding:0;
        }
        .discussion__list{
          list-style: none;
          padding:10px;
          width:100%;
          margin:30px auto;
          border-radius: 4px;
          box-sizing: border-box;
          background-image: url("../../img/bg.jpg");
          background-size: cover;
          position: relative;
        }
        .discussion__list:after{
          position: absolute;
          display: none;
          content:"";
          transform: rotate(-45deg);
          padding:10px;
          left: 50%;
          margin-left: -10px;
          background-image:url("../../img/bg.jpg");
        }
        $max:4;
        @for $i from 1 through $max {
          .discussion__list:nth-child(#{$max}n + #{$i} ) {
            background-position: #{$i * 50/$max + "%"} #{$i * 100/$max + "%"};
          }
          .discussion__list:nth-child(#{$max}n + #{$i} ):after{
            background-position: calc(#{$i * 50/$max + "%"} - 200px) #{$i * 100/$max + "%"};
          }
          @include mediaSP {
            .discussion__list:nth-child(#{$max}n + #{$i} ):after{
              background-position: calc(#{$i * 50/$max + "%"} - 200px) #{$i * 100/$max + "%"};
            }
          }
        }
        .btn--discussion{
          @include btn--line();
          .discussion__detaill__link{
            @include btn;
          }
        }
    }
  }
 }

#product-contest {
  .product-contest__title__background{
    @include section--title--background;
    background-image: url("../../img/heading_contest.png");
    .container {
      .product-contest__title {
        color: $font-light;
      }
      .product-contest__subtitle {
        color: $font-light;
      }
    }
  }
  .product-contest__content__background {
    @include section--content--background;
    .product-contest__text {
      margin-bottom: 50px;
    }
    .product-contest__requirements {
      background-color: #FFF;
      overflow: hidden;
      margin: 0 auto;
      margin-bottom: 50px;
      max-width: 600px;
      border-radius: 50px;
      .product-contest__requirements__top {
        background-image: url("../../img/bg.jpg");
        background-position: 95% 100%;
        color: #FFF;
        padding: 40px;
        .product-contest__requirements__summary {
          letter-spacing: 2px;
        }
      }
      .product-contest__requirements__bottom {
        padding: 30px 70px;
        @include mediaSP {
          padding: 30px 10px;
        }
        max-width: 600px;
        .product-contest__requirements__merit-list {
          text-align: left;
          list-style: none;
          padding: 0;
          margin: 0 auto;
          max-width: 400px;
          @include mediaPC {
                max-width: 600px;
          }
          li {
            $icon-size: 40px;
            max-width: 100%;
            &:not(:last-child){
              margin-bottom: 10px;
            }
            p {
              display: inline-block;
              line-height: $icon-size;
              vertical-align: top;
              width: calc(100% - 60px);
              @include mediaSP{
                max-width: calc(100% - 60px);
              }
            }
            .product-contest__requirements__merit-list__checkbox {
              display: inline-block;
              width: $icon-size;
              height: $icon-size;
              line-height: $icon-size;
              text-align: center;
              margin-right: 10px;
              border-radius: 10px;
              color: #FFF;
              background-image: url("../../img/bg.jpg");
            }

            &:nth-child(1){
              .product-contest__requirements__merit-list__checkbox {
                background-position: 59% 87%;
              }
            }
            &:nth-child(2){
              .product-contest__requirements__merit-list__checkbox {
                background-position: 88% 0%;
              }
            }
            &:nth-child(3){
              .product-contest__requirements__merit-list__checkbox {
                background-position: 22% 55%;
              }
            }
          }
        }
      }
    }
    .btn--product-contest {
      @include btn--line();
      .product-contest__detaill__link{
        @include btn;
      }
    }
  }
}

#after-party {
  .after-party__title__background {
    @include section--title--background;
    background-image: url("../../img/heading_afterParty.png");
    .container {
      .after-party__title {
        color: $font-light;
      }
      .after-party__subtitle {
        color: $font-light;
      }
    }
  }
  .after-party__content__background {
    @include section--content--background;
    .after-party__text {
      margin-bottom: 10px;
    }
    .after-party__image {
      width: 100%;
      height: auto;
      border-radius: 40px;
      background-size: cover;
      background-image: url("../../img/afterParty_img.jpg");
      margin: 0 auto;
      margin-bottom: 30px;
      &::before {
        content: "";
        display: block;
        padding-top: 50%;
      }
    }
  }
  .btn--after-party {
    @include btn--line();
    .after-party__detaill__link {
      @include btn;
    }
  }
}

#sponsoredBy {
  padding-bottom: 3em;
  text-align: center;
  @include page-bottom;
  // @include gradation--top;

  .container {
    max-width: 1200px;
    padding-top: 30px;
  }
  .sponsoredBy__heading {
    font-size: 20px;
    color: white;
    @include heading(white);
    @include mediaPC {
      position: relative;
    }
  }
  .sponsoredBy__block {
    margin: 2em 0;
  }
  .sponsoredBy__lists--rank3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sponsoredBy__lists--rank2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sponsoredBy__lists--rank1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sponsoredBy__list--rank1 {
    display: inline-block;
    margin-bottom: 30px;
    @include mediaPC {
      width: calc(25% - 30px);
      margin: 0 15px;
      margin-bottom: 30px;
    }
    @include mediaSP {
      width: 47%;
      margin-left: 2.5%;
    }
  }
  .sponsoredBy__list--rank2 {
    display: inline-block;
    margin-bottom: 30px;
    @include mediaPC {
      &:nth-child(odd){
        margin-right: 30px;
      }
      width: 40%;
    }
    @include mediaSP {
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
    }
  }
  .sponsoredBy__list--rank3 {
    display: inline-block;
    margin-bottom: 30px;
    @include mediaPC {
      width: calc(50% - 30px);
      margin: 0 15px;
      margin-bottom: 30px;
    }
    @include mediaSP {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .sponsoredBy__list__logo {
    width: 100%;
    height: auto;
  }
  .sponsoredBy__link-area {
    display: inline-block;
    width: 100%;
    .btn {
      @include btn;
    }
  }
}

#summary {
  text-align: center;
  @include page-bottom;

  .container {
    max-width: 1200px;
  }
  .summary__heading {
    font-size: 20px;
    color: $font_light;
    @include heading(white);
    @include mediaPC {
      position: relative;
    }
    margin-bottom: 30px;
  }
  .summary__block {
    margin-bottom: 4.5em;
  }
  .about__title, .access__title, .time-table__title{
    color: $font_light;
    font-size: 20px;
    padding: 0;
  }
  .about__subtitle, .access__subtitle, .time-table__subtitle{
    color: $font_light;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .about__table {
    border:solid 1px white;
    border-collapse:collapse;
    margin:0 auto;
    box-sizing: border-box;
  }
  .about__tbody{
  }
  .about__tr{

  }
  .about__th{
    border:solid 1px white;
    border-collapse:collapse;
    box-sizing: border-box;
    color: $font_light;
    background-color: rgba(0,0,0,0.2);
    font-size:15px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
    box-sizing: border-box;
  }
  .about__td{
    border:solid 1px white;
    border-collapse:collapse;
    box-sizing: border-box;
    color: $font_light;
    width:700px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    a {
      color: #FFF;
      text-decoration: underline;
    }
  }

  .access__map__background {
    background-image: url("../../img/bg.jpg");
    width: 80%;
    height: 500px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    @include mediaSP {
        width: 90%;
        height: 300px;
    }
    .access__map {
      width: 100%;
      height: 100%;
      background-color: #fff;
      #map {
        width: 100%;
        height: 100%;
      }
    }
  }

  .access__link-area {
    margin-bottom: 30px;
    .btn--access {
      @include btn--line();
      .access__detaill__link {
        @include btn;
        padding: 5px 0 !important;
      }
    }
  }

  .access__info {
    width: 80%;
    margin: 0 auto;
    color: $font-light;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    @include mediaSP {
      flex-direction: column;
    }
    &__item {
      text-align: left;
      flex: 1;
      @include mediaSP {
        margin-bottom: 10px;
      }
      &__head {
        font-weight: bold;
        i {
          margin-right: 5px;
        }
      }
    }
  }

  .time-table__pdf__background {
    background-image: url("../../img/bg.jpg");
    width: 80%;
    height: 500px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    @include mediaSP {
        width: 90%;
        height: 300px;
    }
    .time-table__pdf {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
  }

  .time-table__link-area {
    margin-bottom: 30px;
    .btn--time-table {
      @include btn--line();
      .time-table__detaill__link {
        @include btn;
      }
    }
  }
}

#share {
  background: rgba(255,255,255,.9);
  padding-top: 30px;
  .container {
    @include page-bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .share__heading {
    font-size: 20px;
    @include heading(color)
  }
  .share__block {

  }
  .opacoty {
    opacity: .1;
  }
  .bg__imgA {
    width: 40vw;
    position: absolute;
    left: 3vw;
    top: 28px;
    @include mediaSP {
      width: 29vw;
      top: 10px;
      left: 8vw;
    }
    @include mediaPC {
      width: 27%;
      left: 4%;
    }
  }
  .bg__imgB {
    margin-left: -10vw;
    width: 22vw;
    position: absolute;
    left: 50%;
    top: 80px;

    @include mediaSP {
      top: 30px;
    }
    @include mediaPC {
      margin-left: 0vw;
      width: 16%;
      left: 42%;
      top: 10px;
    }
  }
  .bg__imgC {
    width: 33vw;
    position: absolute;
    right: 2vw;
    top: 50px;
    @include mediaSP {
      width: 28vw;
      top: 20px;
      right: 5vw;
    }
    @include mediaPC {
      width: 23%;
      right: 2%;
      top: 3%;
    }
  }
  .bg__imgD {
    width: 35vw;
    position: absolute;
    right: 2vw;
    top: 190px;
    @include mediaSP {
      width: 28vw;
      top: 170px;
      right: 6vw;
    }
    @include mediaPC {
      width: 27%;
      top: 40%;
      right: 5%;
    }
  }
  .bg__imgE {
    margin-left: -20vw;
    width: 30vw;
    position: absolute;
    left: 50%;
    top: 290px;
    @include mediaSP {
      margin-left: -13vw;
      width: 24vw;
      top:270px;
    }
    @include mediaPC {
      margin-left: 0;
      width: 22%;
      left: 35%;
      top: 60%;
    }

  }
  .bg__imgF {
    width: 27vw;
    position: absolute;
    left: 3vw;
    top: 200px;
    @include mediaSP {
      top: 210px;
      width: 21vw;
      left: 12vw;
    }
    @include mediaPC {
      width: 16%;
      top: 60%;
      left: 14%;
    }
  }
  .share__intoro {
    position: relative;
    z-index: 1;
    padding: 2em;
    .en {
      @include en;
    }
    @include mediaPC {
      padding: 4em 0;
    }
  }
  .share__action-area {
    position: relative;
    z-index: 1;
    .btn--tw {
      @include btn__line{
        content: "\f099";
      };
    }
    .btn--fb {
      @include btn__line{
        content: "\f09a";
      }
    }
  }

}
