@import "node_modules/normalize.css/normalize.css";
@import "lib/_value.scss";
@import "lib/_mixin.scss";
@charset  "UTF-8";

::selection {
  background: rgba(225,225,225,.4);
  color: $font;
}

//Firefox
::-moz-selection {
  background: #000;
  color: #fff;
}

body{

  width: 100%;
  height: 100%;

  font-size: 15px;
  font-family: $font_set_en;
  font-weight: normal;
  color: $font;
  line-height:1.8;

  @include mediaPC {
    font-size: 18px;
  }

  h1 {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
  }
  h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: normal;
    font-size: 20px;
    padding: .4em;
  }
  a {
    text-decoration: none;
  }
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.background {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../../img/bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

@import "_top.scss";
@import "_session.scss";
@import "_handson.scss";
@import "_contest.scss";

#footer {
  padding: 20px 0 40px;
  font-size: 13px;
  background: rgba(64,98,111,.8);
  .container {
    text-align: center;
  }
  .footer__sns-area {
    margin: .5em 0 2em;
    .btn {
      @include btn--footer;
      margin: 0 .2em;
    }
  }
  .footer__logo{
    display: inline-block;
    max-width: 180px;
  }
  .footer__lead {
    line-height: 1.2;
    color: $font_light;
    a {
      color:$blue;
      transition: all .3s;
      &:hover {
        color: $orange;

      }
    }
  }
}

.copyright {
  background: rgba(64,98,111,.6);
  text-align: center;
  a {
    font-size:10px;
    color: rgba(255,255,255,.7);
    transition: all .3s;
    &:hover {
      color:$orange;
    }
  }

}

#child_header {
  background-color: #F2F7FB;
  text-align: center;
  padding: 20px;
}

.to-menu {  
  text-align: center;
  position: fixed;
  top: 100px;
  right: 40px;
  border: solid 3px #FFF;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.3);
  background: rgb(242,131,104); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(242,131,104,1) 27%, rgba(87,192,237,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(242,131,104,1) 27%,rgba(87,192,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(242,131,104,1) 27%,rgba(87,192,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    
  color: #FFF;
  width: 70px;
  height: 70px;
  z-index: 100;
  &__link {      
    position: absolute;
    top: -7px;
    left: 0;
    color: inherit;   
    display: block;
    width: 100%;    
    height: 100%;   
  }
  &__icon {    
    font-size: 54px;
  }
  &__caption {
    margin-top: -15px;
  }
  @include mediaSP {
    top: auto;
    right: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    &__link {      
      position: absolute;
      top: 0px;
      left: 0;
      color: inherit;   
      display: block;
      width: 100%;    
      height: 100%;   
    }
    &__icon {    
      font-size: 24px;
    }
    &__caption {
      font-size: 0.5rem;
      margin-top: -9px;
    }
  }
}