section#contest__child
    .contest__child__title__background
        .container
            h1.contest__title PRODUCT CONTEST FOR STUDENTS
            h2.contest__subtitle 学生作品コンテスト
    .contest__child__content__background
        p.contest__child__content__summary
            | 学生ならではの発想やアイデアを元に作られた自慢のサービスやプロダクトについて、
            br
            | 学生同士でプレゼンテーションバトルをしていただきます！
            br
            | 自慢のサービスやプロダクトを見てもらい、
            br
            | フィードバックをもらいたい学生は是非参加してください。
        table.contest__child__content__info
          tr.contest__info__recruit
            th.contest__info__recruit__head 応募方法
            td.contest__info__recruit__body
              .contest__info__recruit__title connpassより参加申し込みをしてください
              .contest__info__recruit__caution 申し込み人数によっては抽選になる可能性があります。
              .contest__info__recruit__join-btn
                .btn--join-contest
                  a(href="/").join-contest__link
                    span 参加を申し込む
          tr.contest__info__product
            th.contest__info__product__head 応募作品
            td.contest__info__product__body
              .contest__info__product__title Webに関連する作品ならOKです！
              .contest__info__product__caution 過去に作った作品や、学校の課題での製作物もOKです。
          tr.contest__info__award
            th.contest__info__award__head 賞
            td.contest__info__award__body 
              ul.contest__info__award__list
                li.contest__info__award__list__item 最優秀賞・・・3万円のAmazonギフト券を進呈
                li.contest__info__award__list__item 優秀賞・・・1万円のAmazonギフト券を進呈
          tr.contest__info__sponsor
            th.contest__info__sponsor__head スポンサー
            td.contest__info__sponsor__body 

              .contest__info__sponsor--best
                .contest__info__sponsor__title 最優秀賞スポンサー
                .contest__info__sponsor__list
                  a(href="http://design.dena.com/").contest__info__sponsor__list__item.contest__info__sponsor__list__item--best                
                    .contest__info__sponsor__item__bnr
                      img(src="./img/sponsor/sponsor_bnr_DeNA.png" alt="株式会社ディー・エヌ・エー")
                    .contest__info__sponsor__item__name 株式会社ディー・エヌ・エー

              .contest__info__sponsor--excellence
                .contest__info__sponsor__title 優秀賞スポンサー
                .contest__info__sponsor__list
                  a(href="https://kfug.connpass.com/").contest__info__sponsor__list__item.contest__info__sponsor__list__item--excellence
                    .contest__info__sponsor__list__item__bnr
                      img(src="./img/sponsor/sponsor_bnr_kfug.png" alt="関西フロントエンドUG")
                    .contest__info__sponsor__list__item__name 関西フロントエンドUG                  
          
        .btn--to-top
          a(href="/").to-top__link
              span TOPに戻る        