//
   Created by chanu on 17/01/24.
section#discussion
        .discussion__title__background
            .container
                h1.discussion__title DISCUSSION
                h2.discussion__subtitle 座談会
        .discussion__content__background
            .container
                p.discussion__text 「Web業界でのお仕事や働き方、キャリアについてなど、色々な立場の人が意見を交換します。来場者の方も気軽に参加が可能です！
                ul.discussion__lists
                    li.discussion__list
                        div
                            span フロントエンドってどんなお仕事？
                    li.discussion__list
                        div
                            span やりたいことと x 業務 x 日頃の学び
                    li.discussion__list
                        div
                            span 自分の働き方と 転職と
                    li.discussion__list
                        div
                            span フリーランスってどんな働き方？
                //- .btn--discussion
                //-     a.discussion__detaill__link
                //-         span DISCUSSION　詳細をみる
