//
   Created by chanu on 17/01/24.

section#handson
    .handson__title__background
        .container
            h1.handson__title HANDSON
            h2.handson__subtitle ハンズオン
    .handson__content__background
        .container
            p.handson__text
            ul.handson__lists
