section#product-contest
    .product-contest__title__background
        .container
            h1.product-contest__title PRODUCT CONTEST FOR STUDENTS
            h2.product-contest__subtitle 学生作品コンテスト
    .product-contest__content__background
        .container
            p.product-contest__text
                | 今まで制作した物の中で一番自信あるものをプレゼンし、
                br
                | Web業界で働いている人達に評価してもらうコンテストです。
            div.product-contest__requirements
                div.product-contest__requirements__top
                    h1.product-contest__requirements__title 参加者募集中
                    p.product-contest__requirements__summary  
                        | 「自分の作品が現場で通用するか確かめたい!」
                        br
                        | 学生さんのご参加をお持ちしております。
                div.product-contest__requirements__bottom                    
                    ul.product-contest__requirements__merit-list
                        li
                            .product-contest__requirements__merit-list__checkbox.fa.fa-check
                            p 作ったものに対してプロからアドバイスが貰える
                        li
                            .product-contest__requirements__merit-list__checkbox.fa.fa-check
                            p 自分のことを企業にアピールできる
                        li
                            .product-contest__requirements__merit-list__checkbox.fa.fa-check
                            p 実績としてポートフォリオにいれることができる
            p.product-contest__text
                | 応募方法、審査員、スポンサー、各種賞についての情報は詳細ページより確認してください。
            //- .btn--product-contest
            //-     a.product-contest__detaill__link
            //-         span CONTEST　詳細をみる