section#after-party
	.after-party__title__background
		.container
			h1.after-party__title AFTER PARTY
			h2.after-party__subtitle 懇親会
	.after-party__content__background
		.container
			p.after-party__text
				| 登壇して頂いたスピーカーさんや他の参加者者と交流し様々な情報を交換できる場です。
				br
				| 懇親会LTやスポンサー様から頂いたプレゼントをかけたじゃんけん大会なども企画しております!
			.after-party__image
			//- .btn--after-party
			//- 	a.after-party__detaill__link
			//- 		span AFTER PARTY 詳細をみる			