section#summary
    .container
        .summary__heading
            h2.title SUMMARY
        .summary__block
            h2.about__title ABOUT
            h3.about__subtitle 基本情報
            table.about__table
                tbody.about__tbody
                    tr.about__tr
                        th.about__th 日時
                            td.about__td 2017年3月18日　10:00-18:00
                    tr.about__tr
                        th.about__th 場所
                            td.about__td 新梅田研修センター
                    tr.about__tr
                        th.about__th 主催
                            td.about__td 関西フロントエンドUG
                    tr.about__tr
                        th.about__th 対象者
                            td.about__td Webに関心のある全ての人
                    tr.about__tr
                        th.about__th 定員
                            td.about__td 300名
                    tr.about__tr
                        th.about__th 参加登録
                            td.about__td ２月中旬頃発表
                    tr.about__tr
                        th.about__th ハッシュタグ
                            td.about__td #frontkansai
                    tr.about__tr
                        th.about__th お問い合わせ
                            td.about__td お問い合わせはこちら
        .summary__block
            h2.access__title ACCESS
            h3.access__subtitle アクセス
            .access__map__background
                .access__map
                    #map
            .access__link-area
                .btn--access
                    a.access__detaill__link
                        span GoogleMap で開く
            
            table.access__info
                tr.access__info__tr
                    th.access__info__th
                        i.fa.fa-map-marker 
                        span 新梅田研修センター
                    th.access__info__th
                        i.fa.fa-train
                        span 電車でのアクセス
                tr.access__info__tr
                    td.access__info__td 〒553-0003 大阪府大阪市福島区福島6-22-20
                    td.access__info__td JR大阪駅　徒歩10分
