section#hero
  .hero__block
    .hero__title-area
      .hero__title_block
        h1.hero__title FRONTEND
          br
          | CONFERENCE
          br
          | 2017
    img.bg__imgA(src="./img/photo_A@2x.png")
    img.bg__imgB(src="./img/photo_B@2x.png")
    img.bg__imgC(src="./img/photo_C@2x.png")
    img.bg__imgD(src="./img/photo_D@2x.png")
    img.bg__imgE(src="./img/photo_E@2x.png")
    img.bg__imgF(src="./img/photo_F@2x.png")
    .hero__infomation
      p 
        | 2017年 3月 18日(土) 10:00~18:00
        wbr
        | 開場 9:30
      p 大阪　新梅田研修センター
        wbr
        span.hero__infomation__to-access
          a(href="#access")
            i.fa.fa-map-marker
            | アクセス      
    .hero__action-area
      .btn
        a(href="http://passmarket.yahoo.co.jp/event/show/detail/01i5u4yp7usy.html" target="_blank")
          span 優先参加チケット販売中！
      .btn
        a(href="https://goo.gl/forms/rh4VqUY0TjLLAJU72" target="_blank")
          span SPONSOR募集
      p 一般参加受付は Passmarket にて近日公開予定です。