section#summary
    .container
        .summary__heading
            h2.title SUMMARY
        .summary__block
            h2.about__title ABOUT
            h3.about__subtitle 基本情報
            table.about__table
                tbody.about__tbody
                    tr.about__tr
                        th.about__th 日時
                        td.about__td 2017年3月18日　10:00-18:00
                    tr.about__tr
                        th.about__th 場所
                        td.about__td 新梅田研修センター
                    tr.about__tr
                        th.about__th 主催
                        td.about__td 関西フロントエンドUG
                    tr.about__tr
                        th.about__th 対象者
                        td.about__td Webに関心のある全ての人
                    tr.about__tr
                        th.about__th 定員
                        td.about__td 300名程度を予定
                    tr.about__tr
                        th.about__th 参加登録
                        td.about__td
                            a(href="http://passmarket.yahoo.co.jp/event/show/detail/01m4unypijyt.html",target="_blank",style="color:inherit") PassMarket
                            | &nbsp; にて受付中！
                    tr.about__tr
                        th.about__th ハッシュタグ
                        td.about__td #frontkansai
                    tr.about__tr
                        th.about__th お問い合わせ
                        td.about__td
                          a(href="https://www.facebook.com/frontconf2017", target="_blank")
                            | Facebookページ
                          | または
                          a(href="https://twitter.com/frontkansai", target="_blank")
                            | Twitter公式
                          | アカウントよりお願いします。
        .summary__block
            h2.access__title#access ACCESS
            h3.access__subtitle アクセス
            .access__map__background
                .access__map
                    #map
            .access__link-area
                .btn--access
                    a(href="https://goo.gl/maps/hBYk8ddqf8S2" target="_blank").access__detaill__link
                        span GoogleMap で開く

            .access__info
                .access__info__item
                    .access__info__item__head
                        i.fa.fa-map-marker
                        span 新梅田研修センター
                    .access__info__item__body 〒553-0003 <br>大阪府大阪市福島区福島6-22-20
                .access__info__item
                    .access__info__item__head
                        i.fa.fa-train
                        span 電車でのアクセス
                    .access__info__item__body JR大阪駅　徒歩10分
        //- .summary__block
        //-     h2.time-table__title TIME TABLE
        //-     h3.time-table__subtitle タイムテーブル
        //-     .time-table__pdf__background
        //-         .time-table__pdf
        //-     .time-table__link-area
        //-         .btn--time-table
        //-             a.time-table__detaill__link
        //-                 span 別窓で開く
