nav#main-menu
  .container
    ul.main-menu
      li.main-menu__item
        .btn
          a(href="#new_session") セッション      
      li.main-menu__item
        .btn
          a(href="#handson") ハンズオン
      li.main-menu__item
        .btn
          a(href="#discussion") 座談会
      li.main-menu__item
        .btn
          a(href="#product-contest") コンテスト
      li.main-menu__item
        .btn
          a(href="#summary") 詳細情報
      li.main-menu__item
        .btn
          a(href="#access") アクセス
    .to-menu
      .to-menu__content
        a(href="#main-menu").to-menu__link
          i.fa.fa-caret-up.to-menu__icon
          div.to-menu__caption MENU