//
   Created by chanu on 17/01/24.
section#discussion
        .discussion__title__background
            .container
                h1.discussion__title DISCUSSION
                h2.discussion__subtitle 座談会
        .discussion__content__background
            .container
                p.discussion__text 「Webに関する様々なテーマについて、色々な立場の人が意見を交換します。来場者の方も気軽に参加が可能です！
                ul.discussion__lists
                    li.discussion__list
                        div
                            span なんとなく転職しちゃったお話
                    li.discussion__list
                        div
                            span フリーランスになって思うアレコレ
                    li.discussion__list
                        div
                            span ニートを34年間やってみた話
                    li.discussion__list
                        div
                            span 自宅警備員あるある
                    li.discussion__list
                        div
                            span 相撲一筋だった俺がフロントエンドエンジニアになった話
                    li.discussion__list
                        div
                            span ブラックとホワイトの違い
                .btn--discussion
                    a.discussion__detaill__link
                        span DISCUSSION　詳細をみる
