//
   Created by chanu on 17/01/24.

section#handson
    .handson__title__background
        .container
            h1.handson__title HANDSON
            h2.handson__subtitle ハンズオン
    .handson__content__background
        .container
            p.handson__text
            | 昨年人気だったハンズオン企画を今年も開催します!
            br
            | 実際に手を動かしながらはやりのツールやフレームワークの学習ができます。
            br
            | メンターによるサポートもありますので初心者の方も是非、参加してみてください。
            ul.handson__lists
                li.handson__list
                    span.handson__list__head XD
                    p.handson__list__body XDを使ってモックアップを作ろうハンズオン（仮）
                li.handson__list
                    span.handson__list__head Sketch
                    p.handson__list__body Sketchを使ってモックアップを作ろうハンズオン（仮）
                li.handson__list
                    span.handson__list__head gulp,sass,pug
                    p.handson__list__body Front制作基礎
                li.handson__list
                    span.handson__list__head Wp API
                    p.handson__list__body wordpressでがんばる
                li.handson__list
                    span.handson__list__head AnglarJS
                    p.handson__list__body AnglarJS　５分でセットアップ
                li.handson__list
                    span.handson__list__head React
                    p.handson__list__body 初心者向けReact入門
            //- .btn--handson
            //-     a.handson__detaill__link
            //-         span HANDSON 詳細をみる