//
   Created by chanu on 17/01/24.

section#new_session
    .session__title__background
        .container
            h1.session__title SESSION
            h2.session__subtitle セッション
    .session__content__background
        .container
            ul.session__lists
                li.session__list
                    .session__list__img
                    span.session__list__text
                        | 懇親会プレゼンWebGL 2.0 時代の幕開け
                        br
                        | ウェブのグラフィックスはどう変わるのか
                li.session__list
                    .session__list__img
                    span.session__list__text
                        | 懇親会プレゼンWebGL 2.0 時代の幕開け
                        br
                        | ウェブのグラフィックスはどう変わるのか
                li.session__list
                    .session__list__img
                    span.session__list__text
                        | 懇親会プレゼンWebGL 2.0 時代の幕開け
                        br
                        | ウェブのグラフィックスはどう変わるのか
                li.session__list
                    .session__list__img
                    span.session__list__text
                        | 懇親会プレゼンWebGL 2.0 時代の幕開け
                        br
                        | ウェブのグラフィックスはどう変わるのか
                li.session__list
                    .session__list__img
                    span.session__list__text
                        | 懇親会プレゼンWebGL 2.0 時代の幕開け
                        br
                        | ウェブのグラフィックスはどう変わるのか