doctype html
html(lang="ja")
    include _head.jade
    body
        .background
        include common/_child_header.jade
        include handson/_sec_handson.jade
        include common/_child_toMenu.jade
        include top/_sec_share.jade
        include common/_footer.jade
        .copyright
            a(href="http://chatbox-inc.com/page/member/yasui/" target="_blank") Designed by Yasui Risa