doctype html
html(lang="ja")
  include _head.jade
  body
    .background
    include top/_sec_hero.jade
    include top/_sec_main_menu.jade
    include top/_sec_concept.jade
    include top/_sec_new_session.jade
    //include top/_sec_handson.jade
    include top/_sec_discussion.jade
    include top/_sec_product_contest.jade
    include top/_sec_after_party.jade
    include top/_sec_sponsoredBy.jade
    include top/_sec_summary.jade
    include top/_sec_share.jade
    include common/_footer.jade
    .copyright
      a(href="http://chatbox-inc.com/page/member/yasui/" target="_blank") Designed by Yasui Risa    